In [9]:
from riotwatcher import LolWatcher, ApiError
import pandas as pd
import sys 
import numpy as np
df = pd.read_excel(r'C:/Users/linhc/OneDrive/Documents/Sproj/DataCollection/Skilled14MinsDataId.xlsx')
df2 = pd.read_excel(r'C:/Users/linhc/OneDrive/Documents/Sproj/DataCollection/Skilled14MinsDataId1.xlsx')
df_combine = df.append(df2)
print (df_combine)

       Unnamed: 0  blueWins  blueWardsPlaced  blueWardsDestroyed  blueKills  \
0               0         1               22                   3          6
1               1         1               25                   3         15
2               2         1               22                  10         10
3               3         1               20                   4         18
4               4         1               24                   2          5
...           ...       ...              ...                 ...        ...
13569       13569         1               73                   4          8
13570       13570         0               38                   6         15
13571       13571         0               20                   3         12
13572       13572         0               20                   5         13
13573       13573         0               21                   6         10

       blueDeaths  blueAssists  blueEliteMonsters  blueDragons  \
0               7            5                  0            0
1              17           22                  0            0
2               8           12                  2            2
3              10           17                  0            0
4               9            4                  1            0
...           ...          ...                ...          ...
13569           4            6                  0            0
13570          10           20                  1            0
13571          15           17                  1            0
13572          19           13                  0            0
13573          18           13                  1            0

       blueHeraldsBarons  ...  redEliteMonsters  redDragons  redHeraldsBarons  \
0                      0  ...                 1           0                 1
1                      0  ...                 1           1                 0
2                      0  ...                 1           0                 1
3                      0  ...                 1           1                 0
4                      1  ...                 1           1                 0
...                  ...  ...               ...         ...               ...
13569                  0  ...                 1           1                 0
13570                  1  ...                 1           1                 0
13571                  1  ...                 2           2                 0
13572                  0  ...                 2           1                 1
13573                  1  ...                 1           1                 0

       redTowersDestroyed  redTotalGold  redTotalDamageToChampions  \
0                       0         22848                      20211
1                       0         27402                      33143
2                       0         23413                      20719
3                       0         22371                      21698
4                       1         24884                      24662
...                   ...           ...                        ...
13569                   0         20776                      13184
13570                   1         26734                      24065
13571                   0         25598                      28276
13572                   1         28129                      28447
13573                   1         26610                      23959

       redAvgLevel  redTotalMinionsKilled  redTotalJungleMinionsKilled  \
0              9.0                    340                           65
1              9.0                    309                           72
2              8.8                    311                           84
3              8.4                    279                           65
4              8.8                    331                           77
...            ...                    ...                          ...
13569          8.6                    293                           90
13570          8.8                    341                           76
13571          9.0                    253                           88
13572          9.6                    303                           79
13573          8.8                    274                           68

       redGoldDiff
0              297
1              443
2             -416
3            -6671
4             2829
...            ...
13569        -1044
13570         1180
13571         -595
13572         2615
13573         3738

[27148 rows x 32 columns]

In [10]:
df_combine

,Unnamed: 0,blueWins,blueWardsPlaced,blueWardsDestroyed,blueKills,blueDeaths,blueAssists,blueEliteMonsters,blueDragons,blueHeraldsBarons,...,redEliteMonsters,redDragons,redHeraldsBarons,redTowersDestroyed,redTotalGold,redTotalDamageToChampions,redAvgLevel,redTotalMinionsKilled,redTotalJungleMinionsKilled,redGoldDiff
0,0,1,22,3,6,7,5,0,0,0,...,1,0,1,0,22848,20211,9.0,340,65,297
1,1,1,25,3,15,17,22,0,0,0,...,1,1,0,0,27402,33143,9.0,309,72,443
2,2,1,22,10,10,8,12,2,2,0,...,1,0,1,0,23413,20719,8.8,311,84,-416
3,3,1,20,4,18,10,17,0,0,0,...,1,1,0,0,22371,21698,8.4,279,65,-6671
4,4,1,24,2,5,9,4,1,0,1,...,1,1,0,1,24884,24662,8.8,331,77,2829
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13569,13569,1,73,4,8,4,6,0,0,0,...,1,1,0,0,20776,13184,8.6,293,90,-1044
13570,13570,0,38,6,15,10,20,1,0,1,...,1,1,0,1,26734,24065,8.8,341,76,1180
13571,13571,0,20,3,12,15,17,1,0,1,...,2,2,0,0,25598,28276,9.0,253,88,-595
13572,13572,0,20,5,13,19,13,0,0,0,...,2,1,1,1,28129,28447,9.6,303,79,2615
13573,13573,0,21,6,10,18,13,1,0,1,...,1,1,0,1,26610,23959,8.8,274,68,3738

In [11]:
df_combine.to_excel(excel_writer = "C:/Users/linhc/OneDrive/Documents/Sproj/DataCollection/Skilled14MinsDataIdFinal.xlsx")

In [3]:
from riotwatcher import LolWatcher, ApiError
import pandas as pd
import sys 
import numpy as np
df = pd.read_excel(r'C:/Users/linhc/OneDrive/Documents/Sproj/DataCollection/Average14MinsDataId2.xlsx')
df2 = pd.read_excel(r'C:/Users/linhc/OneDrive/Documents/Sproj/DataCollection/Average14MinsDataId0.xlsx')
df1 = pd.read_excel(r'C:/Users/linhc/OneDrive/Documents/Sproj/DataCollection/Average14MinsDataId1.xlsx')
df_combine = df.append(df2)
df_combine2 = df_combine.append(df1)
df_combine2.to_excel(excel_writer = "C:/Users/linhc/OneDrive/Documents/Sproj/DataCollection/Average14MinsDataIdFinal.xlsx")